<!-- 要增加的功能：
		1.回复，私信
		2.首页的瀑布流
		-->
<%- include header %>
<% if(!user){ %>
	<div class="first ">
 		<div class="jumbotron">
 			<h2>欢迎来到Whisper</h2>
 			<p>Whisper是一个基于Node.js的微博系统，轻声耳语</p>
 			<p>
 				<a href="/login"><button type="button" class="btn btn-primary">登陆</button></a>
 				<a href="/reg" ><button type="button" class="btn btn-default">立即注册</button></a>
 			</p>
 		</div>
 		<div class="row">
			<div class= "col-md-4 twitter">
				<h2>刘大神说</h2>
				<p>我是刘大神我自豪，我为国家省塑料</p>
			</div>
			<div class= "col-md-4 twitter">
				<h2>羞涩的德普说</h2>
				<p>当我们谈论爱情的时候我们在谈论什么</p>
			</div>
			<div class= "col-md-4 twitter">
				<h2>佛说</h2>
				<p>前世的五百次回眸究竟换来了什么，今生的五百次回眸会等到下季的花开么</p>
			</div>
		</div>	
	</div>
<% }else{ %>
	<div class="first"><h2>所有文章里表：</h2></div>
	<% posts.forEach(function(post,index){ %>
		<h2><a href="/u/<%= post.name %>/<%= post.time.day %>/<%= post.title %>"><%= post.title %></a></h2>
		<p>作者：<a href="/u/<%= post.name %>"><%= post.name %></a> | 日期：<%= post.time.minute %></p>
		<p class="twitter"><%- post.post %></p>
	<% }) %>
<% } %>
<%- include footer %>

